/* @import "tailwindcss";
body{
  overflow-x: hidden;
  @apply bg-background;
}
*/

@import "tailwindcss";


body{
  /* background-color: black; */
    @apply bg-[#0a090b] text-mine-shaft-50  lg:ml-25 lg:mr-25  xl:ml-50 xl:mr-50 ;
    /* @apply bg-black text-white; */
    font-family: poppins, sans-serif;
}
.code-img{
  @apply w-20 h-20 absolute
}

.imageborder img{
  @apply p-1 rounded-lg  w-14
}

.codeimage img{
  @apply w-40 h-40 lg:w-30 lg:h-30 md:w-25 md:h-25 border-1 border-bright-sun-500 bg-[#28272a] rounded-2xl md:p-4 sm:p-2 sm:w-20 sm:h-20
}

@theme {
--color-mine-shaft-50: #f6f6f6;
--color-mine-shaft-100: #e7e7e7;
--color-mine-shaft-200: #d1d1d1;
--color-mine-shaft-300: #b0b0b0;
--color-mine-shaft-400: #888888;
--color-mine-shaft-500: #6d6d6d;
--color-mine-shaft-600: #5d5d5d;
--color-mine-shaft-700: #4f4f4f;
--color-mine-shaft-800: #454545;
--color-mine-shaft-900: #3d3d3d;
--color-mine-shaft-950: #2d2d2d;

--color-bright-sun-50: #fffbeb;
--color-bright-sun-100: #fff3c6;
--color-bright-sun-200: #ffe588;
--color-bright-sun-300: #ffd149;
--color-bright-sun-400: #ffbd20;
--color-bright-sun-500: #f99b07;
--color-bright-sun-600: #dd7302;
--color-bright-sun-700: #b75006;
--color-bright-sun-800: #943c0c;
--color-bright-sun-900: #7a330d;
--color-bright-sun-950: #461902;

--color-background: #28272a;
--code:#0a090b;
}




/* Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... } */