@import "tailwindcss";
body{
  overflow-x: hidden;
  @apply bg-background;
}


@theme {
  --breakpoint-xs: 40rem;

  /* Base Colors */
  --color-background: #000000;     /* Main background */
  --color-secondary-bg: #0e1014;   /* Section backgrounds */
  --color-text: #FEFEFE;           /* Regular body text */
  --color-title: #F35A2B;          /* Headings and name highlight */

  /* UI Colors */
  --color-primary: #2C6777;        /* Buttons, links */
  --color-hover: #00293D;          /* Hover effects */
  --color-accent: #22c55e;         /* Tags, skills, highlights */
  --color-highlight: #D5700B;      /* Important/emphasis (sparingly used) */
}



/* | Role            | Color Name    | Hex       | Tailwind Class   |
| --------------- | ------------- | --------- | ---------------- |
| Background      | Dark Navy     | `#0e1014` | `bg-dark`        |
| Text            | Light Gray    | `#d4d4d8` | `text-base`      |
| Title/Highlight | Electric Blue | `#3ea4d9` | `text-primary`   |
| Button          | Neon Green    | `#4ade80` | `bg-accent`      |
| Button Hover    | Light Teal    | `#5db98d` | `hover:bg-hover` | */
